/*======================================
=              font                    =
======================================*/

@font-face {
    font-family: 'ir_sans';
    src: url('fonts/IRANSansRegular.ttf') format('woff');
}

@font-face {
    font-family: 'ir_sans_b';
    src: url('fonts/IRANSansBold.ttf') format('woff');
}

@font-face {
    font-family: 'yekan_bakh';
    src: url('fonts/YekanBakh-Regular.ttf') format('woff');
}


/*======================================
=               CSS reset              =
======================================*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    color: #444;
    font: 0.8rem "IRSNSR", tahoma !important;
    direction: rtl;
    overflow-x: hidden;
    position: relative;
}

li {
    list-style: none;
}

:focus {
    outline: 0;
}

.clear {
    clear: both;
}

::selection {
    background: #222;
    color: #fdfdfd;
}

::-moz-selection {
    background: #222;
    color: #fdfdfd;
}

a {
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    color: #444;
}

a:hover {
    color: #c03 !important;
    text-decoration: none !important;
}

.p0 {
    padding: 0 !important;
}

.fr {
    float: right;
}

.fl {
    float: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.pull-left {
    float: left !important;
    margin-left: 5px;
}

.pull-right {
    float: right !important;
    margin-right: 5px;
}


/*  */

.bgc_g {
    background: #ddd;
}


/*======================================
=              main                    =
======================================*/


/* toggle button */

:root {
    /** sunny side **/
    --white-background: #e1e1e1;
    --blue-border: #72cce3;
    --blue-color: #96dcee;
    --yellow-background: #fffaa8;
    --yellow-border: #f5eb71;
    /** dark side **/
    --black-background: #141414;
    --indigo-border: #5d6baa;
    --indigo-color: #6b7abb;
    --gray-border: #e8e8ea;
    --gray-dots: #e8e8ea;
    /** general **/
    --white: #fff;
}

.background {
    position: absolute;
    left: 0;
    top: 0;
    background: var(--white-background);
    z-index: -1;
    width: 100%;
    height: 100%;
    transition: all 250ms ease-in;
}

.toggle--checkbox {
    display: none;
}

.toggle--checkbox:checked~.background {
    background: var(--black-background);
}

.toggle--checkbox:checked+.toggle--label {
    background: var(--indigo-color);
    border-color: var(--indigo-border);
    /** Change the cloud to stars **/
    /** Change the sun into the moon **/
    /** Show the dimples on the moon **/
}

.toggle--checkbox:checked+.toggle--label .toggle--label-background {
    left: -50px;
    width: 3px;
}

.toggle--checkbox:checked+.toggle--label .toggle--label-background:before {
    width: 3px;
    height: 3px;
    top: -10px;
    left: 5px;
}

.toggle--checkbox:checked+.toggle--label .toggle--label-background:after {
    width: 3px;
    height: 3px;
    left: 0;
    top: 9px;
}

.toggle--checkbox:checked+.toggle--label:before {
    background: var(--white);
    border-color: var(--gray-border);
    animation-name: switch;
    animation-duration: 350ms;
    animation-fill-mode: forwards;
}

.toggle--checkbox:checked+.toggle--label:after {
    transition-delay: 350ms;
    opacity: 1;
}

.toggle--label {
    /** Placeholder element, starting at blue **/
    width: 80px;
    height: 40px;
    background: var(--blue-color);
    border-radius: 100px;
    border: 5px solid var(--blue-border);
    display: flex;
    position: relative;
    transition: all 350ms ease-in;
    /** The sun cloud and moon stars **/
    /** Sun/Moon element **/
    /** Gray dots on the moon **/
}

.toggle--label-background {
    width: 4px;
    height: 4px;
    border-radius: 5px;
    position: relative;
    background: var(--white);
    left: -12px;
    top: 13px;
    transition: all 150ms ease-in;
}

.toggle--label-background:before {
    content: "";
    position: absolute;
    top: -2px;
    width: 20px;
    height: 3px;
    border-radius: 5px;
    background: var(--white);
    left: -14px;
    transition: all 150ms ease-in;
}

.toggle--label-background:after {
    content: "";
    position: absolute;
    top: 5px;
    width: 20px;
    height: 3px;
    border-radius: 5px;
    background: var(--white);
    left: -10px;
    transition: all 150ms ease-in;
}

.toggle--label:before {
    animation-name: reverse;
    animation-duration: 350ms;
    animation-fill-mode: forwards;
    transition: all 350ms ease-in;
    content: "";
    width: 30px;
    height: 30px;
    border: 5px solid var(--yellow-border);
    top: 0;
    left: 0;
    position: absolute;
    border-radius: 30px;
    background: var(--yellow-background);
}

.toggle--label:after {
    transition-delay: 0ms;
    transition: all 250ms ease-in;
    position: absolute;
    content: "";
    box-shadow: var(--gray-dots) -13px 0 0 2px, var(--gray-dots) -24px 14px 0 -2px;
    left: 65px;
    top: 5px;
    width: 7px;
    height: 7px;
    background: transparent;
    border-radius: 50%;
    opacity: 0;
}

@keyframes switch {
    0% {
        left: 4px;
    }
    60% {
        left: 4px;
        width: 60px;
    }
    100% {
        left: 40px;
        width: 30px;
    }
}

@keyframes reverse {
    0% {
        left: 40px;
        width: 30px;
    }
    60% {
        left: 4px;
        width: 60px;
    }
    100% {
        left: 4px;
    }
}


/* end toggle button */

.fo_big {
    font: 1.4rem "IRSNSB";
}

.red_cr {
    color: #c03;
}

.gray_cr_n {
    color: #707070;
}

.white_bg {
    background: #fdfdfd;
}


/* slider */

.swiper-container {
    width: 100%;
    height: 700px;
    float: left;
    overflow: hidden;
}

.swiper-slide {
    width: 100%;
    height: 100%;
    text-align: center;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide a {
    width: 100%;
    height: 100%;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
}


/* relative_post */

.relative_post {
    width: 100%;
    max-height: 350px;
    border-radius: 8px;
    margin: 40px 0;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}

.relative_post h2 {
    float: right;
    margin: 25px 35px 25px 0;
    border-bottom: 1px solid #c03;
    padding: 0 20px;
    color: #c03;
}

.relative_post>.relative_pic {
    width: 100%;
    display: inline-flex;
}


/* post*/


/* wp-pagenavi */

.wp-pagenavi {
    width: 100%;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 8px;
}

.wp-pagenavi a,
.wp-pagenavi span {
    background: #707070;
    padding: 5px 15px;
    border-radius: 8px;
}

.pages_navi {
    cursor: default;
}

.wp-pagenavi a#nexti,
.wp-pagenavi a#previ {
    padding: 7px 30px;
}

.wp-pagenavi span.current {
    background: #cc0033;
}


/* trailer */


/* footer-nav */

.footer_nav {
    width: 100%;
    margin-top: 40px;
    padding: 30px;
}

.about p {
    text-align: justify;
    margin-top: 50px;
}

.support img {
    width: 120px;
    height: 60px;
    cursor: pointer;
}

.q_a_link {
    float: right;
    text-align: right;
}

.q_a_link ul {
    margin-top: 50px;
}

.social {
    display: flex;
}

.social li {
    margin: 15px;
}

.social img {
    width: 50px;
    height: 50px;
}


/*  */


/*  */

.image {
    display: flex;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: #c03;
    /* Black see-through */
    width: 83%;
    transition: .5s ease;
    opacity: 0;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    padding: 20px;
    text-align: center;
}

.latest_pic:hover .overlay {
    opacity: 1;
}

.overlay span {
    line-height: 2rem;
}

.left_side,
.right_side {
    height: auto;
    margin-bottom: 40px;
}

.panel_gray {
    background: #fff;
    border-radius: 8px;
    height: auto;
    margin-bottom: 40px;
}

.panel-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border-bottom: 2px solid #c03;
}

.panel-heading img {
    width: 30px;
    height: 30px;
}

.panel-heading h2 {
    position: absolute;
    right: 55px;
    margin: 0;
}

.panel-body {
    margin-top: 10px;
}

.icon_box {
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: flex-start;
    direction: ltr;
    margin: 0;
}

.panel-body {
    display: flex;
}

.post_pic {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.post_pic img {
    width: 100%;
    height: auto;
    padding: 10px;
    border-radius: 20px;
}

.post_details ul {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items: flex-start;
    direction: rtl;
}

.synopsis p {
    text-align: justify;
}

.btn_box {
    display: flex;
    align-items: center;
    margin: 0;
}

.btn_box li {
    margin-left: 5px;
}

.movie_genre {
    text-align: right;
}

.movie_genre ul li {
    list-style: disc;
}

.btn_group {
    display: flex;
    justify-content: center;
    height: 40px;
    width: 100%;
    margin: 10px 0;
    background: #e1e1e1;
    border-radius: 15px;
}

.btn_group button {
    border-radius: 15px;
    border: none;
    background: #e1e1e1;
    color: #c03;
}

.btn_group button:hover,
.btn_group button:focus {
    border-radius: 15px;
    background: #c03;
    color: #e1e1e1;
}

.btn-block {
    margin: 0 !important;
}

.tab_content {
    display: flex;
}

.movie_img {
    display: flex;
}

.movie_img img {
    width: 100%;
    margin: 20px 0;
    border-radius: 10px;
}

.new_movie_img img {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 10px;
}


/*  */


/*  */


/*------------ media_screen ---------------*/

@media only screen and (max-width: 250px) {}

@media only screen and (max-width: 300px) and (min-width: 250px) {}

@media only screen and (max-width: 350px) and (min-width: 300px) {}

@media only screen and (max-width: 400px) and (min-width: 350px) {}

@media only screen and (max-width: 450px) and (min-width: 400px) {}

@media only screen and (max-width: 500px) and (min-width: 450px) {}

@media only screen and (max-width: 550px) and (min-width: 500px) {}

@media only screen and (max-width: 600px) and (min-width: 550px) {}

@media only screen and (max-width: 650px) and (min-width: 600px) {}


/* Extra small devices (phones, 600px and down) */

@media (min-width: 600px) {}

@media (max-width: 535px) {}

@media (max-width: 600px) {}


/* sm */

@media (min-width: 768px) {}

@media (max-width: 765px) {}


/* md */

@media (min-width: 992px) {}

@media (max-width: 992px) {}


/* lg */

@media (max-width: 1200px) {}

@media (min-width: 1200px) {}

@media (min-width: 1320px) {}

@media (min-width: 320px) and (max-width: 350px) {}

@media (min-width: 350px) and (max-width: 375px) {}

@media (min-width: 375px) and (max-width: 400px) {}

@media (min-width: 400px) and (max-width: 536px) {}


/*  */