/* background */

.red_bg {
    background: #cc0033;
    color: #fdfdfd;
}

.red_bg:hover {
    background: #fdfdfd;
    color: #cc0033;
}

.gray_bg {
    background: #707070;
    color: #cc0033;
}

.gray_bg:hover {
    background: #cc0033;
    color: #707070;
}

.white_bg {
    background: #fdfdfd;
    color: #cc0033;
}

.white_bg:hover {
    background: #cc0033;
    color: #fdfdfd;
}